/* Core styles shared across all pages */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, 'Courier New', Courier, monospace;
  box-sizing: border-box;

}

body {
  background-color: #fdf6e9;
}

a {
  text-decoration: none;
}